.register-page-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__place {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
  align-items: center;
}
