@import './colors.scss';
@import './fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.head {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #121212;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
footer .container .sec {
  margin-right: 30px;
}
footer .container .sec.aboutus {
  width: 50%;
}
footer .container h2 {
  position: relative;
  margin-bottom: 15px;
  color: #fff;
  font-weight: 500;
  font-family: $FONT_PRIMARY;
}
footer .container h2::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}
footer p {
  color: #999;
  font-family: $FONT_SECONDARY;
  margin-top: 1rem;
}
.sci {
  margin-top: 20px;
  display: flex;
}
.sci li {
  list-style: none;
}
.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}
.sci li a:hover {
  background: #f12020;
}
.quickLinks {
  position: relative;
  width: 25%;
  font-family: $FONT_SECONDARY;
}
.quickLinks ul li {
  list-style: none;
}
.quickLinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 15px;
  display: inline-block;
}
.quickLinks ul li a:hover {
  color: #fff;
}
.contact {
  width: calc(25% - 15px);
  margin-right: 0 !important;
  font-family: $FONT_SECONDARY;
}
.contact .info {
  position: relative;
}
.contact .info li {
  display: flex;
  margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
  font-size: 20px;
  margin-right: 25px;
}
.contact .info li span {
  color: #999;
}
.contact .info li a {
  color: #999;
  text-decoration: none;
}
.contact .info li a:hover {
  color: #fff;
}
.text {
  width: 100%;
  background: #121212;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}
@media (max-width: 991px) {
  footer {
    padding: 40px;
  }
  footer .container {
    flex-direction: column;
  }
  footer .container .sec {
    margin-right: 0px;
    margin-bottom: 40px;
  }
  footer .container .sec.aboutus,
  .quickLinks,
  .contact {
    width: 100%;
  }
  .text {
    padding: 8px 40px;
  }
}
