.form__component {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  padding: 24px 32px;
  @media only screen and (min-width: 768px) {
    width: 65%;
  }
}
.form__elements {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.form__error {
  color: red;
}
