@import './colors.scss';
@import './fonts.scss';

.photo-grid {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 240px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
h1 {
  font-family: $FONT_PRIMARY;
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 5px;
}
.container h2 {
  text-align: center;
  letter-spacing: 5px;
  font-weight: 300;
  font-family: $FONT_PRIMARY;
  margin-top: 5rem;
  font-size: 32px;
}

.glimpse-wrapper {
  margin-bottom: 5rem;
}

/* Medium screens */
@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  background: rgb(19, 19, 19);
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  // height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}

// .card:nth-child(even) {
//   grid-row: span 2 / auto;
// }
// .card:nth-child(odd) {
//   grid-column: span 2 / auto;
// }
.video {
  // position: relative;
  // padding-bottom: 56.25%;
  display: flex;
  gap: 1rem;
  // aspect-ratio: 16/9;
  // grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  // grid-auto-rows: 240px;
  position: relative;
}
.card-image {
  width: auto;
  aspect-ratio: 16/9;
  height: 100%;
}
.tedx-iframe {
  left: 0;
  top: 0;
  display: flex;
}
.single-video {
  position: relative;
}
// .tedx-iframe:nth-child(2){
//   left: 50%;

// }
