@import './colors.scss';
@import './fonts.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.roll {
  overflow: hidden;
}
body {
  background-color: $BACKGROUND;
  overflow-x: hidden;
}

// Content

.row {
  margin: 0 10%;
  display: flex;
  color: $SECONDARY_COLOR;
}

.column {
  margin: auto;
  padding: 1%;
  flex: 50%;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: justify;
}

.content-headline {
  font-size: 5rem;
  font-weight: 400;
  text-align: justify;
}

.content-wrapper {
  // position: relative;
  // padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.tedx-iframe {
  // width: 35rem;
  // height: 19.688rem;
  // display: block;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

//About Details

.details-section {
  margin: 100px 0;
  border-bottom: 5px solid $SECONDARY_COLOR;
  border-top: 5px solid $SECONDARY_COLOR;
  padding: 75px 0;
  color: $BACKGROUND;
  background-color: $PRIMARY_COLOR;
}

.details-headline {
  margin: 20px 0;
  width: 8rem;
}

.details-content {
  margin-bottom: 20px;
  text-align: justify;
}

//About Center Design

.center-design-wrapper {
  position: relative;
}

.center-design {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
  position: absolute;
  top: 5px;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

// Side Designs

.left-container {
  overflow-x: hidden;
  -webkit-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  transform: translateX(-5px);
  position: absolute;
  left: 0;
  display: block;
  width: 105px;
}

.right-container {
  overflow-x: hidden;
  -webkit-transform: scaleX(-1) translateX(-5px);
  -ms-transform: scaleX(-1) translateX(-5px);
  transform: scaleX(-1) translateX(-5px);
  position: absolute;
  right: 0;
  display: block;
  width: 105px;
}

// contents from app.scss
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
//Global Styles

.flex-container {
  margin: 0 10% 0 10%;
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

//Highlights
.flex-container-highlights {
  margin: 0 10% 0 10%;
  display: flex;
}

.highlights-box {
  padding-bottom: 10px;
  margin: 0 10%;
  // background-color: $PRIMARY_COLOR;
  // border: 5px solid $SECONDARY_COLOR;
}

.highlights-box a {
  text-decoration: none;
}

.highlights-heading {
  letter-spacing: 10px;
  color: $SECONDARY_COLOR;
  flex: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 3rem;
  padding: 5px;
  margin: 20px 0;
}

.highlights-heading-underline {
  margin: 0 auto;
  width: 5rem;
  margin-bottom: 50px;
  color: $ACCENT_COLOR;
}

.highlights-image {
  width: 100%;
  height: auto;
}

.highlights-image-text {
  font-size: 1.25rem;
  font-weight: 800;
  margin: 20px auto 10px auto;
  color: $BACKGROUND;
}

.flex-column-highlights {
  background-color: $SECONDARY_COLOR;
  display: flex;
  padding: 5px;
  margin: 10px;
  flex-direction: column;
  flex: 50%;
  transition: transform 0.2s;
}

.flex-column-highlights:hover {
  transform: scale(1.05);
}

// temp footer styling
.footerClass {
  color: white;
}
.page-wrapper {
  padding-top: 90px;
  min-height: 100vh;
}

@media screen and (max-width: 1100px) {
  .row {
    margin: 0 7.5%;
  }

  .center-design {
    width: 150px;
    height: 150px;
    top: 25px;
  }
}

@media screen and (max-width: 992px) {
  .flex-container-highlights {
    flex: 100%;
    flex-direction: column;
  }

  .highlights-heading {
    font-size: 2rem;
  }

  .highlights-image-text {
    font-size: 0.9rem;
  }

  .flex-column-highlights {
    flex: 100%;
  }

  .center-design {
    width: 100px;
    height: 100px;
    top: 53px;
  }

  .left-container {
    top: 55px;
    width: 50px;
  }

  .right-container {
    top: 55px;
    width: 50px;
  }

  .column {
    margin: 0;
    flex: 100%;
  }

  .content-headline {
    text-align: center;
    line-height: 5.5rem;
    margin-bottom: 20px;
  }

  .tedx-iframe {
    margin: 30px 0;
  }

  .row {
    margin: 0 5%;
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .row {
    margin: 0 2.5%;
  }
}
