@import "./colors.scss";
@import "./main.scss";

nav {
  width: 100%;
  height: 5rem;
  background-color: $BACKGROUND;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $PRIMARY_COLOR;
  position: relative;

  .links {
    .title {
      color: $PRIMARY_COLOR;
      padding-right: 3rem;
      text-decoration: none;
      transition: 0.5s;
 
      &:hover {
        color: aliceblue;
      }
     &.active{
      color: $ACCENT_COLOR;
      border-left: 3px solid $ACCENT_COLOR;
      padding-left: 1rem;
      font-weight: bold;
     }
   }
  }
  .logo_tedx {
    width: 15rem;
    padding-left: 2rem;
    
  }
}
 

.menu_logo {
  display: none;
  pointer-events: none;
  padding-right: 1rem;
}
 


@media screen and (max-width: 759px) {
  body
  {
    overflow-x: hidden;
  }
 
  .menu_logo {
    pointer-events: auto;
    display: block;
  }
  .logo_tedx {
    width: 10rem !important;
    padding-left: 1rem;
  }
  nav
  {
    .links
    {
      .title
      {
        padding-right: 0rem;
      }
    }
    }
    .links
    {
      position: absolute;
      right: 0px;
      display: flex;
      flex-direction: column;
      height: 95vh;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      top: 5rem;
      background-color: rgb(65, 65, 65);
      font-size: 22px;
      transform: translateY(140%);
      transition: transform 0.5s ease-in;
    } 

    .on
    {
      transform: translateY(0%);
    }

}
