@import './colors.scss';

::-webkit-scrollbar {
  width: 0px;
}

.container__speakers {
  display: flex;
  align-items: center;
  overflow: auto;
  width: 100%;
  padding: 20px 0;
  margin: 0;
}

.speakers-heading {
  letter-spacing: 10px;
  color: $SECONDARY_COLOR;
  flex: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 3rem;
  padding: 5px;
  margin: 20px 0;
}

.speakers-heading-underline {
  margin: 0 auto;
  width: 5rem;
  margin-bottom: 50px;
  color: $ACCENT_COLOR;
}

.arrow {
  border: solid #f6c90e;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  background: #000;
}

.right {
  position: absolute;
  right: 15px;
  top: 307px;
  @media screen and (max-width: 800px) {
    top: 257px;
  }
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  @media screen and (max-width: 720px) {
    right: 7px;
  }
}

.left {
  position: absolute;
  left: 15px;
  top: 307px;
  @media screen and (max-width: 800px) {
    top: 257px;
  }
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  @media screen and (max-width: 720px) {
    left: 7px;
  }
}

.speakers-wrapper {
  position: relative;
  z-index: 1000;
}

.card {
  flex-shrink: 0;
  width: 400px;
  height: 300px;
  @media screen and (max-width: 800px) {
    width: 300px;
    height: 200px;
  }

  border-radius: 10px;
  margin-left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.flip-card {
  margin: 0 25px;
  min-width: 400px;
  @media screen and (max-width: 800px) {
    min-width: 300px;
  }
  height: 300px;
}

.card-front,
.card-back {
  overflow-y: hidden;
  position: absolute;
  top: 0;
}

.card-back {
  background-color: $PRIMARY_COLOR;
  color: black;
  padding: 0 12.5px;
  @media screen and (max-width: 800px) {
    padding: 0 5px;
  }
}

.speaker-name {
  color: black;
  letter-spacing: 1;
  margin: 15px;
  font-size: 1.25rem;
  font-weight: 900;
  text-align: center;
  @media screen and (max-width: 800px) {
    letter-spacing: 0.75;
    margin: 7.5px;
    font-size: 0.8rem;
  }
}

.speaker-details {
  letter-spacing: 0.5;
  line-height: 1rem;
  text-align: justify;
  font-size: 0.75rem;
  @media screen and (max-width: 800px) {
    line-height: 0.7rem;
    font-size: 0.6rem;
  }
}
