::-webkit-scrollbar {
  width: 0px;
}

.team-list {
  position: relative;
}

.arrow {
  border: solid #f6c90e;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  position: absolute;
  right: 15px;
  top: 7px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  @media screen and (max-width: 720px) {
    right: 7px;
  }
}

.left {
  position: absolute;
  left: 15px;
  top: 7px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  @media screen and (max-width: 720px) {
    left: 7px;
  }
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.container-team-list {
  position: relative;
  display: flex;
  overflow-x: scroll;
  gap: 32px;
  margin: 0 64px;
  @media screen and (max-width: 720px) {
    margin: 0 24px;
  }
}

.card-team-list {
  flex-shrink: 0;
  text-align: center;
  border-radius: 10px;
  margin-left: 10px;
  line-height: 0.1em;
  border-bottom: 2px solid #f6c90e;
  width: 20%;
  margin: 10px 0 20px;
  @media screen and (max-width: 720px) {
    margin: 10px 5px;
  }
  // background: #fff;
  // :before {
  //   content: 'LOL';
  // }
  // :after {
  //   content: 'LOL';
  // }
}
.card-team-list-team-heading {
  background: #121212;
  padding: 0 10px;
}
.tempteamlinks {
  color: white;
  font-size: 26px;
  @media screen and (max-width: 720px) {
    font-size: 14px;
  }
}
